@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Inter", sans-serif;
}

body {
    background: #62738210;
}

.spin {
    animation: spin 0.3s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}